Package: com.cbcoding.matchinmusic-flipswitch
Name: MatchInMusic Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.2
Architecture: iphoneos-arm
Description: Toggle "Show Music" for iTunes Match
Maintainer: Brandon Sachs
Author: Brandon Sachs
Section: Addons (Flipswitch)